.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: rgb(12, 4, 60);
    grid-template-areas: 'sideleft sideleft sideright'
    'sideleft1 sideleft1 sideright1'
    
    
}
html{
    background-color:  rgb(12, 4, 60);
}
a{
    
    color: white;
    font-size: 35px;
    text-decoration: none;
}
.insta a:hover{
    
    color: crimson;
    font-size: 50px;

}
.fb a:hover{
    color: blue;
    font-size: 50px;
}
.tiktok a:hover{
    color: black;
    font-size: 50px;
}
.item1{
    grid-area: sideleft;
  padding-top: 50px;
   background-color: rgb(12, 4, 60);
   display: flex;
    flex-wrap: wrap;
 
    }
.item2{
    grid-area: sideright;
     background-color: rgb(12, 4, 60);
     text-align: end;
    padding-top:92px;
}
.item3{
    grid-area: sideleft1;
    height: 700px;
    
           
}
.item4{

    grid-area: sideright1;
}
.item1 a{
     padding: 50px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: rgb(10, 2, 46);
    border: 1px solid black;
border-left: 2px;

}
.item2 a{
    padding-right: 150px;
    text-decoration: none;
    color: red;
    font-size: 20px;
    
}
.item4 img{
    height: 700px;
    opacity: 85%;border-radius: 25%;
}
.item1 a:hover{
    color: blue;
    font-size: 30px;
}
h1{
    color: rgb(209, 129, 44);
    font-size: 35px;
    margin-top: 150px;

}
h3{
    color: aquamarine;
    margin-top: 1px;
}
p{
    color: azure;
    margin-right: 500px;
    font-size: 20px;
}
i{
    color: white;
   font-size: 35px;
}
